.flex {
  display: flex;
  justify-content: space-around;

}
.nav-item {
  width: 25%;
  text-align: center;
}
.txt-white {
  font-weight: bold;
  color: #ffffff;
  padding: 3px;
}
.nav-item:hover {
  background-color: #FF8040;
  color: #ffffff;
  border-width: 0 19px 19px 0;

}
.spm {
  background-color: #ffffff;
  color: #000000;
  padding: 3px 8px 3px 8px;
  border-radius: 50%;
}
